fastapi 
uvicorn 
azure-ai-formrecognizer 
python-multipart
streamlit
python-docx
chroma-hnswlib==0.7.6
chromadb==0.6.1
langchain
langchain-text-splitters
PyPDF2
ollama
azure-ai-formrecognizer
python-dotenv
azure-ai-textanalytics